
@page {
  size: A4 portrait;
  margin: 3cm;
}

@media screen {
  body {
    margin: auto;
    width: 15cm; /* 21cm (A4) - 2*3cm (page margin) */ 
  }
}

/* layout classes */

.layout-w100 {
  width: 100%;
}

.layout-w40 {
  width: 40%;
}

.layout-w20 {
  width: 20%;
}

.layout-h100px {
  height: 100px;
}

.layout-r {
  text-align: right;
}
